<form [formGroup]="authForm" (ngSubmit)="onSubmit()" style="max-width: 500px">
  <h2>{{ 'AUTH.TITLE' | translate }}</h2>

  <div>
    <label for="login">{{ 'AUTH.LOGIN_LABEL' | translate }}</label>
    <input
      id="login"
      formControlName="login"
      pInputText
      placeholder="{{ 'AUTH.LOGIN_PLACEHOLDER' | translate }}"
    />
    @if (authForm.controls['login'].invalid && authForm.controls['login'].touched) {
      <div class="text">{{ 'AUTH.LOGIN_REQUIRED' | translate }}</div>
    }
  </div>

  <div class="mb-3">
    <label for="password">{{ 'AUTH.PASSWORD_LABEL' | translate }}</label>
    <input
      id="password"
      formControlName="password"
      pInputText
      placeholder="{{ 'AUTH.PASSWORD_PLACEHOLDER' | translate }}"
    />
    @if (authForm.controls['password'].invalid && authForm.controls['password'].touched) {
      <div class="text">{{ 'AUTH.PASSWORD_REQUIRED' | translate }}</div>
    }
  </div>

  <div class="flex gap-2">
    <button
      id="btn-auth"
      type="submit"
      pButton
      label="{{ 'AUTH.SUBMIT' | translate }}"
      [disabled]="authForm.invalid"
    ></button>
  </div>
</form>
