<form [formGroup]="editForm" (ngSubmit)="onSave()">
  <div class="flex flex-column" style="max-width: 400px">
    <div class="flex flex-column">
      <label for="title">
        {{ 'POSTS.EDIT_TITLE_LABEL' | translate }}
      </label>

      <input
        pInputText
        id="title"
        formControlName="title"
        placeholder="{{ 'POSTS.EDIT_TITLE_PLACEHOLDER' | translate }}"
      />

      @if (editForm.get('title')?.invalid && editForm.get('title')?.touched) {
        <small class="text-red-500">
          {{ 'POSTS.EDIT_TITLE_ERROR' | translate }}
        </small>
      }
    </div>

    <div class="flex flex-column">
      <label for="tags">
        {{ 'POSTS.EDIT_TAGS_LABEL' | translate }}
      </label>

      <textarea
        pInputTextarea
        id="tags"
        formControlName="tags"
        rows="3"
        placeholder="{{ 'POSTS.TAGS_PLACEHOLDER' | translate }}"
      ></textarea>
    </div>

    <div class="flex flex-column">
      <label for="views">
        {{ 'POSTS.COLUMN_VIEWS' | translate }}
      </label>

      <input
        type="number"
        pInputNumber
        id="views"
        formControlName="views"
        placeholder="{{ 'POSTS.VIEWS_PLACEHOLDER' | translate }}"
      />
    </div>

    <div class="flex flex-column">
      <button
        pButton
        type="button"
        label="{{ 'POSTS.CANCEL' | translate }}"
        severity="secondary"
        (click)="onCancel()"
      ></button>

      <button
        pButton
        type="submit"
        label="{{ 'POSTS.SAVE' | translate }}"
        severity="primary"
        [disabled]="editForm.invalid"
      ></button>
    </div>
  </div>
</form>
