<section class="users-page">
  <div class="form-section">
    <app-create-user (userCreated)="onCreateUser($event)"></app-create-user>
  </div>

  <div class="controls">
    <button
      id="refresh-btn"
      class="refresh-btn"
      (click)="refreshUsers()"
      title="{{ 'USERS_PAGE.REFRESH_TITLE' | translate }}"
    >
      <fa-icon class="icon" [icon]="faArrowsRotate" />
    </button>
  </div>
  <span>{{
    (filteredUsers$ | async)?.length ?? 0
      | customPlural:
        ('USERS_PAGE.USER_ONE' | translate) :
        ('USERS_PAGE.USER_FEW' | translate) :
        ('USERS_PAGE.USER_MANY' | translate)
  }}</span>
  <app-users-filter (usersFiltered)="onFilterUser($event)"> </app-users-filter>
  <div class="cards-section">
    @if (filteredUsers$ | async; as users) {
      @if (users.length) {
        @for (user of users; track user.id) {
          <app-user-card
            [user]="user"
            (userDeleted)="onDeleteUser($event)"
          />
        }
      } @else {
        <ng-container *ngTemplateOutlet="emptyUsers" />
      }
    }
    <ng-template #emptyUsers>
      <div class="empty-state">
        <p>📭 Нет пользователей для отображения</p>
      </div>
    </ng-template>
  </div>
</section>
