@if (post) {
  <div>
    <button
      pButton
      type="button"
      label="{{ 'POSTS.BACK_TO_LIST' | translate }}"
      severity="secondary"
      (click)="goBack()"
    ></button>

    <div class="card">
      <h1 class="title">{{ post.title }}</h1>

      <p class="text">
        <strong>{{ 'POSTS.TAGS_LABEL' | translate }}:</strong>
        {{ post.tags.join(', ') }}
      </p>

      <p class="text">
        <strong>{{ 'POSTS.VIEWS_LABEL' | translate }}:</strong>
        {{ post.views }}
      </p>

      <div class="text-body">
        {{ post.body }}
      </div>
    </div>
  </div>
} @else {
  <div class="flex-col-cen">
    <h3>{{ 'POSTS.NOT_FOUND' | translate }}</h3>
    <button
      pButton
      type="button"
      label="{{ 'POSTS.BACK_TO_LIST' | translate }}"
      (click)="goBack()"
    ></button>
  </div>
}
