.header {
  color: var(--primary-color);
  background-image: url("/images/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 985px;
}
  div {
     padding-top: 8px;
  }

// .logo {
//   display: flex;
//   flex-direction: column;
//   gap: 9px;
// }


.nav {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  font-size: 18px;
  font-weight: 600;

}
  a{
    color: var(--primary-color);
    text-decoration: none;
  }

.consultation {
  margin-left: 49px;
  font-size: 16px;;
  width: 157px;
  height: 44px;
  background-color: var(--bt-color);
  color: var(--primary-color);
  font-family: 'Nunito Sans';
  border: none;
  border-radius: 8px;
}

.logo-name{
  font-size: 24px;
  font-weight: 700;
}

.header-text{
  text-align: left;
  margin-top: 463px;
  height: 150px;
  width: 1080px;
  font-weight: 700;
  font-style: Bold;
  font-size: 50px;
}

  span {
    display: block;
  }

.menu {
  background: #FFFFFF33;
  height: 161px;
  border-radius: 8px;
}

.menu-item {
  margin-left: 43px;
  width: 1095px;
  height: 81px;
}

.button {
  color: var(--bt-color);
}



