.header {
  color: var(--primary-color);
  background-image: url("/images/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 985px;
}
  div .padding-top-8 {
     padding-top: 8px;
  }

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
  a{
    color: var(--primary-color);
    text-decoration: none;
  }

.consultation {
  margin-left: 49px;
  width: 157px;
  height: 44px;
  background-color: var(--bt-color);
  color: var(--primary-color);
  font-family: 'Nunito Sans';
  border: none;
}

.bt-consultation {
  width: 200px;
  height: 52px;
  background-color: var(--bt-color);
  color: var(--primary-color);
  font-family: 'Nunito Sans';
  border: none;
}

.logo-name{
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-text{
  text-align: left;
  margin-top: 463px;
  height: 150px;
  width: 1080px;
  font-weight: 700;
  font-style: Bold;
  font-size: 50px;
}

  span {
    display: block;
  }

.menu {
  background: #FFFFFF33;
  height: 161px;
}

.menu-item {
  margin-left: 43px;
  width: 1095px;
  height: 81px;
  padding-top: 40px;
  align-items: start;
  justify-self: start;
}

.button {
  background-color: var(--white-color);
  color: var(--bt-color);
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.menu-field {
  width: 270px;
}

.menu-title {
  height: 52px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.menu-subtitle {
  opacity: 0.7;
  margin-top: 8px;
}

.images-house {
  left: 130px;
  top: 126px;
}

.svg-play {
  left: 280px;
  top: 300px;
  cursor: pointer;
}

.wrapper-text {
  left: 600px;
  top: 64px;
}

.about {
  align-items: flex-start;
}

.about-images {
  width: 480px;
  height: 526px;
  position: relative;
}

.about-text {
  width: 580px;
  height: 398px;
}

.section-label {
  padding: 6px 0 2px 0;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 16px;
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

  .radius-top-left {
    border-radius: 0 80px 0 80px;
  }

  .radius-top-right {
    border-radius:  80px 0 80px 0;
  }
