<header class="header">
  <div class="container">
    <div class="flex-space-between">
      <div class="gap-9 flex-column">
        <img src="/images/logo.png" alt="logo" width="137px" height="48px"/>
        <span class="logo-name">РУМТИБЕТ</span>
      </div>
      <div class="flex-center">
        <ul class="nav">
          <a  class="g">Главная</a>
          <a href="">Про гида</a>
          <a href="">Программа тура</a>
          <a href="">Стоимость</a>
          <a href="">Блог</a>
          <a href="">Контакты</a>
        </ul>
        <button class="consultation" aria-label="Заказать консультацию">Консультация</button>
      </div>
    </div>
    <div class="header-text">
      <span>Насладись прогулкой в горах
      </span>
      <span>с командой единомышленников
      </span>
    </div>
    <div class="menu">
      <div class="flex-space-between gap-24 menu-item ">
        <div>
          <div>
            <span class="size-270-52 border font-16 align-items">Локация для тура</span>
          </div>
          <span class="padding-top-8">выберите из списка</span>
        </div>
        <div>
          <div>
            <span class="size-270-52 border font-16 align-items">Дата похода</span>
          </div>
          <span class="font-14 padding-top-8">укажите диапазон</span>
        </div>
        <div >
          <div>
            <span class="size-270-52 border font-16 align-items">Участники</span>
          </div>
          <span class="font-14 padding-top-8">минимум 4 человека</span>
        </div>
        <button class="button size-270-52 border font-16 align-items" type="submit">Найти программу</button>
      </div>
    </div>
  </div>
</header>
