<header class="header">
  <div class="container">
    <div class="flex-space-between padding-top-8" >
      <div class="gap-9 flex-column">
        <img src="/images/logo.svg" alt="logo" width="137px" height="48px"/>
        <span class="logo-name">{{ companyName }}</span>
      </div>
      <div class="flex-center">
        <ul class="nav flex-space-between gap-24 font-18">
          <a href="">Главная</a>
          <a href="">Про гида</a>
          <a href="">Программа тура</a>
          <a href="">Стоимость</a>
          <a href="">Блог</a>
          <a href="">Контакты</a>
        </ul>
        <button class="consultation font-16 border-radius-8" aria-label="Заказать консультацию">Консультация</button>
      </div>
    </div>
    <div class="header-text">
      <span>Насладись прогулкой в горах</span>
      <span>с командой единомышленников</span>
    </div>
    <div class="menu border-radius-8">
      <div class="flex-space-between gap-24 menu-item ">
        <div class="menu-field">
          <div class="flex-space-between menu-title border-radius-8 font-16">
            <span>Локация для тура</span>
            <img class="padding-right-16" src="/images/arrow-left-icon.svg" alt="arrow-left">
          </div>
          <span class="menu-subtitle font-14">выберите из списка</span>
        </div>
        <div class="menu-field">
          <div class="flex-space-between menu-title border-radius-8 font-16">
            <span>Дата похода</span>
            <img class="padding-right-16" src="/images/formkit_date.svg" alt="arrow-left">
        </div>
          <span class="menu-subtitle font-14">укажите диапазон</span>
        </div>
        <div class="menu-field">
          <div class="flex-space-between menu-title border-radius-8 font-16">
            <span>Участники</span>
            <img class="padding-right-16" src="/images/arrow-left-icon.svg" alt="arrow-left">
          </div>
          <span class="menu-subtitle font-14">минимум 4 человека</span>
        </div>
        <button class="button size-270-52 border font-16 align-items border-radius-8" type="submit">Найти программу</button>
      </div>
    </div>
  </div>
</header>
