<header class="header">
  <div class="container">
    <div class="flex-space-between padding-top-8" >
      <div class="gap-9 flex-column">
        <img src="/images/logo.svg" alt="logo" width="137px" height="48px"/>
        <span class="logo-name">{{ companyName }}</span>
      </div>
      <div class="flex-center">
        <ul class="nav flex-space-between gap-24 font-18">
          <a href="">Главная</a>
          <a href="">Про гида</a>
          <a href="">Программа тура</a>
          <a href="">Стоимость</a>
          <a href="">Блог</a>
          <a href="">Контакты</a>
        </ul>
        <button class="consultation font-16 border-radius-8" aria-label="Заказать консультацию">Консультация</button>
      </div>
    </div>
    <div class="header-text">
      <span>насладись прогулкой в горах</span>
      <span>с командой единомышленников</span>
    </div>
    <div class="menu border-radius-8 margin-top-36">
      <div class="flex-space-between gap-24 menu-item ">
        <div class="menu-field">
          <div class="flex-space-between menu-title border-radius-8 font-16">
            <span>Локация для тура</span>
            <img class="padding-right-16" src="/images/arrow-left-icon.svg" alt="arrow-left">
          </div>
          <span class="menu-subtitle font-14">выберите из списка</span>
        </div>
        <div class="menu-field">
          <div class="flex-space-between menu-title border-radius-8 font-16">
            <span>Дата похода</span>
            <img class="padding-right-16" src="/images/formkit_date.svg" alt="arrow-left">
        </div>
          <span class="menu-subtitle font-14">укажите диапазон</span>
        </div>
        <div class="menu-field">
          <div class="flex-space-between menu-title border-radius-8 font-16">
            <span>Участники</span>
            <img class="padding-right-16" src="/images/arrow-left-icon.svg" alt="arrow-left">
          </div>
          <span class="menu-subtitle font-14">минимум 4 человека</span>
        </div>
        <button class="button size-270-52 border font-16 align-items border-radius-8" type="submit">Найти программу</button>
      </div>
    </div>
    <div class="about flex-space-between margin-top-182">
      <div class="about-images position-relative">
        <img class="index-0" src="/images/mountains.png" alt="Горы" width="350" height="400">
        <div>
          <img class="index-1 position-absolute images-house" src="/images/house-in-mountains.png" alt="Горы" width="350px" height="400px">
          <button>
            <img class="index-2 position-absolute svg-play" src="/images/play.svg" alt="">
          </button>
        </div>
      </div>
      <div class="about-text">
        <h2 class="section-label color-yellow font-24">о нашем походе</h2>
        <h1 class="section-title color-black font-32">Исследуйте все горные массивы мира вместе с нами</h1>
        <p class="section-text color-black font-18">{{history}}</p>
        <button class="bt-consultation font-16 border-radius-8" aria-label="Заказать консультацию">Программа тура</button>
      </div>
    </div>
    <div class="images-grid">
      @for (imege of imeges; track imege.id){
        <img
          [src]="imege.src"
          class="image"
          [class.radius-top-left]="imege.id === 1 || imege.id === 4"
          [class.radius-top-right]="imege.id === 2 || imege.id === 3"
          [alt]=""
        />
      }
    </div>
  </div>
</header>
