<div class="card">
  <h2 class="name">{{ user.name | uppercase }}</h2>
  <p class="username">@{{ user.username | uppercase }}</p>

  <div class="section">
    <h3>{{ 'USER_CARD.CONTACTS' | translate }}</h3>
    <p><span>{{ 'USER_CARD.EMAIL' | translate }}</span>{{ user.email }}</p>
    <p><span>{{ 'USER_CARD.PHONE' | translate }}</span>{{ user.phone | phoneNumbers: modePhone }}</p>
    <p><span>{{ 'USER_CARD.WEBSITE' | translate }}</span>{{ user.website }}</p>
  </div>

  <div class="section">
    <h3>{{ 'USER_CARD.ADDRESS' | translate }}</h3>
    <p><span>{{ 'USER_CARD.CITY' | translate }}</span>{{ user.address.city }}</p>
    <p><span>{{ 'USER_CARD.STREET' | translate }}</span>{{ user.address.street }}</p>
    <p><span>{{ 'USER_CARD.SUITE' | translate }}</span>{{ user.address.suite }}</p>
    <p><span>{{ 'USER_CARD.ZIPCODE' | translate }}</span>{{ user.address.zipcode }}</p>
    <p><span>{{ 'USER_CARD.COORDINATES' | translate }}</span>{{ user.address.geo.lat }}, {{ user.address.geo.lng }}</p>
  </div>

  <div class="section">
    <h3>{{ 'USER_CARD.COMPANY' | translate }}</h3>
    <p><span>{{ 'USER_CARD.COMPANY_NAME' | translate }}</span>{{ user.company.name }}</p>
    <p><span>{{ 'USER_CARD.MISSION' | translate }}</span>{{ user.company.catchPhrase }}</p>
    <p><span>{{ 'USER_CARD.SECTOR' | translate }}</span>{{ user.company.bs }}</p>
  </div>
  <button id="delete-user" type="button" (click)="onDeleteClick()">{{ 'USER_CARD.DELETE' | translate }}</button>
</div>
