@if(loading){
  <p-table [value]="posts" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
          <tr>
              <th>Title</th>
              <th>Tags</th>
              <th>Views</th>
          </tr>
      </ng-template>
      <ng-template #body let-post>
          <tr>
              <td><p-skeleton width="10%" height="1.5em"/></td>
              <td><p-skeleton width="10%" height="1.5em"/></td>
              <td><p-skeleton width="10%" height="1.5em"/></td>
          </tr>
      </ng-template>
  </p-table>
} @else { <p-table [value]="posts" (onRowDblClick)="onRowDblClick($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>Title</th>
        <th>Tags</th>
        <th>Views</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post>
      <tr (contextmenu)="onContextMenu(post, $event)">
        <td>{{ post.title }}</td>
        <td>{{ post.tags.join(', ') }}</td>
        <td>{{ post.views }}</td>
      </tr>
    </ng-template>
  </p-table>
}
@if(menuVisible){
  <div  class="context-menu" [style.top.px]="menuY" [style.left.px]="menuX">
    <ul>
      <li (click)="onViewPost()">Просмотр</li>
      <li (click)="onEditPost()">Редактировать</li>
      <li (click)="onDeletePost()">Удалить</li>
    </ul>
  </div>
}
