@if (isLoading) {
  <div id="loader-overlay" class="loading-overlay flex-s-b">
    <fa-icon class="rotate" [icon]="faSpinner" />
    <span class="spinner">{{ 'HOME.LOADER_MESSAGE' | translate }}</span>
  </div>
} @else {
  <header id="main-header" class="header">
    <div class="container">
      <div class="content flex-s-b">
        @if (isDateView) {
          <span class="timer">
            {{ currentDateAndTime | date: DATE_FORMAT }}
          </span>
        } @else {
          <div class="clicker flex-s-b">
            <button
              id="btn-counter-decrement"
              class="switcher cur-p"
              (click)="decrementCount()"
              [disabled]="count <= 0"
            >
              -
            </button>

            <span>{{ count }}</span>

            <button
              id="btn-counter-increment"
              class="switcher cur-p"
              (click)="incrementCount()"
            >
              +
            </button>
          </div>
        }

        <button
          id="btn-toggle-date-counter"
          class="consultation fs-16 br-8"
          (click)="toggleBlock()"
        >
          {{
            isDateView
              ? ('HOME.SHOW_CLICKER' | translate)
              : ('HOME.SHOW_DATE' | translate)
          }}
        </button>
      </div>

      <div class="header-text">
        <span>{{ 'HOME.HEADER_TEXT_1' | translate }}</span>
        <span>{{ 'HOME.HEADER_TEXT_2' | translate }}</span>
      </div>

      <div class="menu br-8">
        <div class="menu-item flex-s-b gap-24">
          <div class="menu-field">
            <div
              class="flex-s-b menu-title br-8 fs-16 pos-rel"
              (click)="openSelect(locationInput)"
            >
              <select
                id="select-tour-location"
                class="select select-location-person"
                #locationInput
                [(ngModel)]="form.location"
              >
                <option value="" disabled selected>
                  {{ 'HOME.SELECT_TOUR_LOCATION' | translate }}
                </option>
                <option value="altai">
                  {{ 'HOME.LOCATION.ALTAI' | translate }}
                </option>
                <option value="caucasus">
                  {{ 'HOME.LOCATION.CAUCASUS' | translate }}
                </option>
                <option value="baikal">
                  {{ 'HOME.LOCATION.BAIKAL' | translate }}
                </option>
              </select>

              <fa-icon class="pr-16" [icon]="faAnglesDown" />
            </div>

            <span class="menu-subtitle fs-14">
              {{ 'HOME.SELECT_CHOOSE_FROM_LIST' | translate }}
            </span>
          </div>

          <div class="menu-field">
            <div
              class="flex-s-b menu-title pos-rel br-8 fs-16"
              (click)="openDatePicker(dateInput)"
            >
              <input
                #dateInput
                id="input-tour-date"
                class="select pos-rel"
                type="date"
                [(ngModel)]="form.date"
                placeholder="{{ 'HOME.PLACEHOLDER_DATE' | translate }}"
              />

              <label class="date-label cur-p pos-abs">
                <fa-icon
                  class="date-icon pr-16 cur-p"
                  [icon]="faCalendarDays"
                />
              </label>
            </div>

            <span class="menu-subtitle fs-14">
              {{ 'HOME.SELECT_SPECIFY_RANGE' | translate }}
            </span>
          </div>

          <div class="menu-field">
            <div
              class="flex-s-b menu-title br-8 fs-16"
              (click)="openSelect(personImput)"
            >
              <select
                id="select-tour-persons"
                class="select select-location-person"
                #personImput
                [(ngModel)]="form.persons"
              >
                <option value="" disabled selected>
                  {{ 'HOME.SELECT_CHOOSE_FROM_LIST' | translate }}
                </option>
                <option value="1">
                  {{ 'HOME.PERSONS.ONE' | translate }}
                </option>
                <option value="2">
                  {{ 'HOME.PERSONS.TWO' | translate }}
                </option>
                <option value="3">
                  {{ 'HOME.PERSONS.THREE' | translate }}
                </option>
                <option value="4+">
                  {{ 'HOME.PERSONS.FOUR_PLUS' | translate }}
                </option>
              </select>

              <fa-icon class="pr-16" [icon]="faAnglesDown" />
            </div>

            <span class="menu-subtitle fs-14">
              {{ 'HOME.SELECT_CHOOSE_FROM_LIST' | translate }}
            </span>
          </div>

          <button
            id="btn-search-tour"
            [disabled]="!isFormValid()"
            class="button size-270-52 border fs-16 align-items br-8"
          >
            {{
              isFormValid()
                ? ('HOME.BUTTON.FIND_PROGRAM' | translate)
                : ('HOME.BUTTON.FILL_ALL_FIELDS' | translate)
            }}
          </button>
        </div>
      </div>

      <div class="flex-s-b">
        <input
          id="input-live-text"
          type="text"
          placeholder="{{ 'HOME.INPUT_LIVE_TEXT_PLACEHOLDER' | translate }}"
          [(ngModel)]="liveInputValue"
        />

        <span class="result">{{ liveInputValue }}</span>
      </div>

      <div class="about flex-s-b">
        <div class="about-images pos-rel">
          <img
            class="index-0"
            src="/images/mountains.png"
            alt="{{ 'HOME.ALT.MOUNTAINS' | translate }}"
            width="350"
            height="400"
          />

          <div>
            <img
              class="index-1 pos-abs images-house"
              src="/images/house-in-mountains.png"
              alt="{{ 'HOME.ALT.HOUSE_IN_MOUNTAINS' | translate }}"
              width="350px"
              height="400px"
            />

            <button id="btn-video-play">
              <fa-icon
                class="index-2 pos-abs svg-play"
                size="2x"
                [icon]="faCirclePlay"
              />
            </button>
          </div>
        </div>

        <div class="about-text">
          <h2 class="section-label color-yellow fs-24">
            {{ 'HOME.ABOUT.TITLE' | translate }}
          </h2>

          <h1 class="section-title color-black fs-32">
            {{ 'HOME.ABOUT.SUBTITLE' | translate }}
          </h1>

          <p class="section-text color-black fs-18 lh-150">
            {{ 'HOME.ABOUT.TEXT' | translate }}
          </p>

          <button
            id="btn-tour-program"
            class="bt-consultation fs-16 br-8 cur-p"
            aria-label="{{ 'HOME.BUTTON.TOUR_PROGRAM_ARIA' | translate }}"
            (click)="messageService.showInfo()"
          >
            {{ 'HOME.BUTTON.TOUR_PROGRAM' | translate }}
          </button>
        </div>
      </div>

      <section id="about-guide" class="offer-section">
        <div class="container">
          <div class="container-second-block flex-s-b">
            <div class="container-offer">
              <h2 class="subtitle color-yellow fs-24">
                {{ 'HOME.OFFER.TITLE' | translate }}
              </h2>

              <h1 class="subtitle-title color-black fs-32">
                {{ 'HOME.OFFER.HEADER' | translate }}
              </h1>

              <p class="desc color-black fs-18 margin-top-30 lh-150">
                {{ 'HOME.OFFER.DESCRIPTION' | translate }}
              </p>

              <div class="features mt-40">
                @for (service of services; track service.id) {
                  <div class="feature-item margin-top-20">
                    <fa-icon
                      [ngClass]="'icon-color-' + service.id"
                      [icon]="service.icon"
                    />

                    <div class="feature-text">
                      <h3>{{ service.title | translate }}</h3>
                      <p>{{ service.description | translate }}</p>
                    </div>
                  </div>
                }
              </div>

              <button
                id="btn-tour-pricing"
                class="bt-consultation fs-16 br-8 mt-40 cur-p"
                aria-label="{{ 'HOME.BUTTON.TOUR_PROGRAM_ARIA' | translate }}"
                (click)="messageService.showWarn()"
              >
                {{ 'HOME.BUTTON.TOUR_PRICING' | translate }}
              </button>
            </div>

            <div class="images-grid">
              <img
                src="images/cup-coffee.png"
                alt="{{ 'HOME.ALT.COFFEE_CUP' | translate }}"
                class="image radius-top-left"
              />

              <img
                src="images/man-on-mountain.png"
                alt="{{ 'HOME.ALT.MAN_ON_MOUNTAIN' | translate }}"
                class="image radius-top-right"
              />

              <img
                src="images/man-on-snowmobile.png"
                alt="{{ 'HOME.ALT.MAN_ON_SNOWMOBILE' | translate }}"
                class="image radius-top-right"
              />

              <img
                src="images/river.png"
                alt="{{ 'HOME.ALT.RIVER' | translate }}"
                class="image radius-top-left"
              />
            </div>
          </div>
        </div>
      </section>

      <section id="tour-program" class="popular-section flex-col-cen mt-85">
        <div class="flex-col-cen">
          <h2 class="subtitle color-yellow fs-24">
            {{ 'HOME.POPULAR.TITLE' | translate }}
          </h2>

          <h1 class="subtitle-title color-black fs-32">
            {{ 'HOME.POPULAR.HEADER' | translate }}
          </h1>
        </div>

        <div class="container-price mt-40">
          @for (destination of popularDestination; track destination.id) {
            <div class="card">
              <img
                [src]="'/images/' + destination.image + '.png'"
                [alt]="destination.nameTour | translate"
                width="380"
                height="500"
              />

              <div class="rating">
                <fa-icon style="color: goldenrod" [icon]="faStar" />
                {{ destination.tourEvaluation | number: '1.1-1' }}
              </div>

              <div class="card-info flex-s-b pos-abs">
                <div>
                  <h2 class="fs-24">
                    {{ destination.nameTour | translate }}
                  </h2>

                  <p class="fs-14">
                    {{ destination.tourDescription | translate }}
                  </p>
                </div>

                <div class="price fs-20">
                  <span>{{ destination.tourPrice }} &#36;</span>
                </div>
              </div>
            </div>
          }
        </div>

        <button
          id="btn-tour-rating"
          class="bt-consultation fs-16 br-8 mt-40 cur-p"
          (click)="messageService.showError()"
        >
          {{ 'HOME.BUTTON.TOUR_RATING' | translate }}
        </button>
      </section>

      <section id="pricing" class="blog-tour flex-col-cen">
        <div class="flex-col-cen mt-85">
          <h2 class="subtitle color-yellow fs-24">
            {{ 'HOME.BLOG.TITLE' | translate }}
          </h2>

          <h1 class="subtitle-title color-black fs-32">
            {{ 'HOME.BLOG.HEADER' | translate }}
          </h1>
        </div>

        <div class="blog-container">
          @for (item of travelBlog; track item.id) {
            <div class="blog-card">
              <div class="blog-image">
                <img
                  [src]="'/images/' + item.imege + '.png'"
                  [alt]="item.title | translate"
                />
              </div>

              <div class="blog-info">
                <h3>{{ item.title | translate }}</h3>
                <p>{{ item.content | translate }}</p>

                <div class="blog-bottom">
                  <span class="blog-date fs-14">01/04/2023</span>
                  <a
                    [id]="'blog-' + item.id"
                    class="read-more cur-p"
                  >
                    {{ 'HOME.BLOG.READ_ARTICLE' | translate }}
                  </a>
                </div>
              </div>
            </div>
          }
        </div>

        <button
          id="btn-other-materials"
          class="bt-consultation fs-16 br-8 mt-40 cur-p"
          (click)="messageService.showSuccess()"
        >
          {{ 'HOME.BUTTON.OTHER_MATERIALS' | translate }}
        </button>
      </section>

      <section id="blog" class="travel-blog flex-col-cen">
        <div class="flex-col-cen mt-85">
          <h2 class="subtitle color-yellow fs-24">
            {{ 'HOME.PHOTO_REPORT.TITLE' | translate }}
          </h2>

          <h1 class="subtitle-title color-black fs-32">
            {{ 'HOME.PHOTO_REPORT.HEADER' | translate }}
          </h1>
        </div>

        <div class="travel">
          @for (item of photoReport; track item.id) {
            <div
              class="travel-grid-img"
              [ngClass]="'item-' + item.id"
            >
              <img
                [src]="'/images/' + item.img + '.png'"
                [alt]="item.img"
              />
            </div>
          }
        </div>

        <button
          id="btn-pinterest"
          class="bt-consultation fs-16 br-8 mt-40 cur-p"
          (click)="messageService.showSuccess()"
        >
          {{ 'HOME.BUTTON.PINTEREST' | translate }}
        </button>
      </section>
    </div>
  </header>
}
