<form [formGroup]="postForm" (ngSubmit)="onSubmit()" style="max-width: 500px">
  <h2>{{ 'POSTS.CREATE_POST' | translate }}</h2>

  <div>
    <label for="title">{{ 'POSTS.COLUMN_TITLE' | translate }}</label>
    <input
      id="title"
      formControlName="title"
      pInputText
      placeholder="{{ 'POSTS.TITLE_PLACEHOLDER' | translate }}"
    />
    @if (postForm.controls['title'].invalid && postForm.controls['title'].touched) {
      <div class="text">{{ 'POSTS.TITLE_REQUIRED' | translate }}</div>
    }
  </div>

  <div class="mb-3">
    <label for="tags">{{ 'POSTS.TAGS_LABEL' | translate }}</label>
    <input
      id="tags"
      formControlName="tags"
      pInputText
      placeholder="{{ 'POSTS.TAGS_PLACEHOLDER' | translate }}"
    />
    @if (postForm.controls['tags'].invalid && postForm.controls['tags'].touched) {
      <div class="text">{{ 'POSTS.TAGS_REQUIRED' | translate }}</div>
    }
    <small class="text">{{ 'POSTS.TAGS_HINT' | translate }}</small>
  </div>

  <div>
    <label for="views">{{ 'POSTS.COLUMN_VIEWS' | translate }}</label>
    <input
      type="number"
      id="views"
      formControlName="views"
      pInputNumber
      placeholder="{{ 'POSTS.VIEWS_PLACEHOLDER' | translate }}"
    />
    @if (postForm.controls['views'].invalid && postForm.controls['views'].touched) {
      <div class="text">{{ 'POSTS.VIEWS_INVALID' | translate }}</div>
    }
  </div>

  <div class="flex gap-2">
    <button
      type="button"
      pButton
      label="{{ 'POSTS.CANCEL' | translate }}"
      severity="secondary"
      (click)="onCancel()"
    ></button>
    <button
      type="submit"
      pButton
      label="{{ 'POSTS.CREATE_POST' | translate }}"
      [disabled]="postForm.invalid"
    ></button>
  </div>
</form>
