@font-face {
  font-family: 'Next Art';
  src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('trutype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Next Art';
  src: url('/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('trutype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('trutype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('trutype');
  font-weight: 100 900;
  font-style: italic;
}
