@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --primary-color: #FDFDFD;
  --black-color: #18121E;
  --yellow-color: #F2BE22;
  --white-color: #FFFFFF;
  --footer-header-color: #F3F5F4;
  --bt-color: #1A3E3E;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

  label {
    display: flex;
    flex-direction: column;
  }

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.size-270-52 {
  width: 270px;
  height: 52px;
  padding-top: 0px;
}

.gap-24 {
  gap: 24px;
}

.gap-9 {
  gap: 9px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.border {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}

.border-radius-8 {
  border-radius: 8px;
}

.padding-top-8 {
  padding-top: 8px;
}

.padding-right-16 {
  padding-right: 16px;
}
