@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #FDFDFD;
  --black-color: #18121E;
  --yellow-color: #F2BE22;
  --white-color: #FFFFFF;
  --footer-header-color: #F3F5F4;
  --bt-color: #1A3E3E;
}

.color-yellow {
  color:var(--yellow-color);
}

.color-black {
  color: var(--black-color);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.size-270-52 {
  width: 270px;
  height: 52px;
  padding-top: 0px;
}

.gap-24 {
  gap: 24px;
}

.gap-9 {
  gap: 9px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.border {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}

.border-radius-8 {
  border-radius: 8px;
}

.padding-top-8 {
  padding-top: 8px;
}

.padding-right-16 {
  padding-right: 16px;
}

.height-526 {
  height: 526px;
}

.width-480 {
  width: 480px;
}

.margin-top-182 {
  margin-top: 182px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-36 {
  margin-top: 36px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-left-250 {
  margin-left: 250px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-bottom-40px {
  margin-bottom: 40px;
}

.index-0 {
  z-index: 0;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 12;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.line-height-150 {
  line-height: 150%;
}




