@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #FDFDFD;
  --black-color: #18121E;
  --yellow-color: #F2BE22;
  --white-color: #FFFFFF;
  --footer-header-color: #F3F5F4;
  --bt-color: #1A3E3E;
}

.color-yellow {
  color:var(--yellow-color);
}

.color-black {
  color: var(--black-color);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
}

.flex-s-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-col-cen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.bor-r-8 {
  border-radius: 8px;
}

.pad-r-16 {
  padding-right: 16px;
}

.mrg-t-40 {
  margin-top: 40px;
}

.mrg-t-80 {
  margin-top: 80px;
}

.index-0 {
  z-index: 0;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.lh-150 {
  line-height: 150%;
}

.cur-p {
  cursor: pointer;
}
