<section id="contacts" class="footer pos-rel">
  <div class="company-container footer-grid">
    <div class="footer-col">
      <h3>
        {{ 'FOOTER.COMPANY_TITLE' | translate:{ companyName: companyName } }}
      </h3>

      <p>{{ 'FOOTER.DESCRIPTION' | translate }}</p>

      <div class="contacts">
        <a id="info" href="mailto:info@domain.com">info@domain.com</a>
        <a id="tel" href="tel:+71234567890">+7 (123) 456-78-90</a>
      </div>

      <div class="social cur-p">
        @for (item of messengers; track item) {
          <a [id]="item">
            <fa-icon [icon]="item" />
          </a>
        }
      </div>
    </div>

    <div class="footer-col">
      <h3>{{ 'FOOTER.SERVICES_TITLE' | translate }}</h3>

      <ul>
        @for (item of routes; track item) {
          <li>
            <a id="service">
              <fa-icon [icon]="faAngleRight" />
              {{ item | translate }}
            </a>
          </li>
        }
      </ul>
    </div>

    <div class="footer-col">
      <h3>{{ 'FOOTER.TRAVEL_ESSENTIALS_TITLE' | translate }}</h3>

      <ul>
        @for (item of travelEssentials; track item) {
          <li>
            <a id="essential">
              <fa-icon [icon]="faAngleRight" />
              {{ item | translate }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>

  <div class="footer-company-container mt-85 flex-s-b">
    <div class="footer-company flex-s-b fs-14">
      <p>{{ companyIP }}</p>
      <a id="policy" class="policy cur-p">
        Политика обработки персональных данных
      </a>
    </div>
  </div>

  <section id="subscribe" class="subscribe pos-abs">
    <div class="subscribe__content">
      <span class="subscribe__label">
        {{ 'FOOTER.SUBSCRIBE_LABEL' | translate }}
      </span>

      <h2 class="subscribe__title">
        {{ 'FOOTER.SUBSCRIBE_TITLE' | translate }}
      </h2>
    </div>

    <form id="form" class="subscribe__form">
      <label class="subscribe__label__text" for="email">
        {{ 'FOOTER.EMAIL_LABEL' | translate }}
      </label>

      <div class="subscribe__controls">
        <input
          type="email"
          id="email"
          placeholder="{{ 'FOOTER.EMAIL_PLACEHOLDER' | translate }}"
          required
        />

        <button id="submit" type="submit">
          {{ 'FOOTER.SUBSCRIBE_BUTTON' | translate }}
        </button>
      </div>

      <p class="subscribe__policy">
        {{ 'FOOTER.POLICY_TEXT1' | translate }}
        <a id="personal-data">
          {{ 'FOOTER.POLICY_LINK_1' | translate }}
        </a>
        {{ 'FOOTER.POLICY_TEXT2' | translate }}
        <a id="rules-advertising-mailings">
          {{ 'FOOTER.POLICY_LINK_2' | translate }}
        </a>
      </p>
    </form>
  </section>
</section>
