<h2>Count: {{ count }}</h2>


<button (click)="markForCheckScenario()">markForCheck</button>


<button (click)="detectChangesScenario()">detectChanges</button>


<button (click)="detach()">detach()</button>
<button (click)="reattach()">reattach()</button>


<button (click)="changeClick()">Изменить через (click)</button>
<button (click)="changeTimeout()">Изменить через setTimeout</button>
<button (click)="changeInterval()">Изменить через setInterval</button>
<button class="demo" (click)="changePromise()">Изменить через Promise</button>
